# Deliverable 2: Determine Bias of Vine Reviews
Deliverable 2 Instructions
Using your knowledge of PySpark, Pandas, or SQL, you’ll determine if there is any bias towards reviews that were written as part of the Vine program. For this analysis, you'll determine if having a paid Vine review makes a difference in the percentage of 5-star reviews.

In [1]:
# import dependencies 
import pandas as pd

In [2]:
# Read in CSV Vine_Table
vine_df = pd.read_csv("./vine_table.csv")
vine_df

/Users/alexborden/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3457: DtypeWarning: Columns (1) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
0,R1WBPB8MDCCN8F,5.0,0.0,0.0,N,N
1,R32M0YEWV77XG8,5.0,1.0,1.0,N,Y
2,RR8V7WR27NXJ5,1.0,0.0,0.0,N,Y
3,R1MHO5V9Z932AY,5.0,0.0,0.0,N,Y
4,R16PD71086BD2V,5.0,0.0,1.0,N,N
...,...,...,...,...,...,...
4850355,R1VERHFY08SLZS,1,6.0,8.0,N,N
4850356,R34TPFL5ZYSV46,3,21.0,29.0,N,N
4850357,R2YECHGBV291H,5,1.0,1.0,N,N
4850358,R2Z784CWN7JZ4X,2,3.0,4.0,N,N
4850359,R2J13W5P3N2KV4,4,18.0,19.0,N,N

In [3]:
#Explore the Data Frame
vine_df.info

<bound method DataFrame.info of               review_id star_rating  helpful_votes  total_votes vine  \
0        R1WBPB8MDCCN8F         5.0            0.0          0.0    N
1        R32M0YEWV77XG8         5.0            1.0          1.0    N
2         RR8V7WR27NXJ5         1.0            0.0          0.0    N
3        R1MHO5V9Z932AY         5.0            0.0          0.0    N
4        R16PD71086BD2V         5.0            0.0          1.0    N
...                 ...         ...            ...          ...  ...
4850355  R1VERHFY08SLZS           1            6.0          8.0    N
4850356  R34TPFL5ZYSV46           3           21.0         29.0    N
4850357   R2YECHGBV291H           5            1.0          1.0    N
4850358  R2Z784CWN7JZ4X           2            3.0          4.0    N
4850359  R2J13W5P3N2KV4           4           18.0         19.0    N

        verified_purchase
0                       N
1                       Y
2                       Y
3                       Y
4                       N
...                   ...
4850355                 N
4850356                 N
4850357                 N
4850358                 N
4850359                 N

[4850360 rows x 6 columns]>

# Step 1 

Filter the data and create a new DataFrame or table to retrieve all the rows where the total_votes count is equal to or greater than 20 to pick reviews that are more likely to be helpful and to avoid having division by zero errors later on.

In [4]:
# Filter vine_df for all rows where total_votes >= 20

vine_df_20 = vine_df.loc[vine_df["total_votes"] >= 20]
vine_df_20

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
326,R1B4753QMTD8ON,5.0,32.0,32.0,N,N
662,R28BVHOEL6GCHZ,5.0,21.0,21.0,N,Y
1055,R27IB4BRKO71I0,2.0,16.0,20.0,N,Y
1225,RJ86OW12Y4NRL,5.0,124.0,128.0,N,Y
1448,R3KRABOWCH6ZE4,1.0,48.0,65.0,N,Y
...,...,...,...,...,...,...
4850347,R1KGFSPKL3YCGK,4,25.0,26.0,N,N
4850349,R15AZWCW5ZSFSN,5,157.0,160.0,N,Y
4850352,R1ZWVHA89AE49B,5,32.0,33.0,N,N
4850353,R115HJRM6FUVIC,5,27.0,27.0,N,N
4850356,R34TPFL5ZYSV46,3,21.0,29.0,N,N

# Step 2

Filter the new DataFrame or table created in Step 1 and create a new DataFrame or table to retrieve all the rows where the number of helpful_votes divided by total_votes is equal to or greater than 50%.

In [5]:
# Filter vine_df_20 where helpful_votes/total_votes >= 0.50
vine_df_50 = vine_df_20.loc[(vine_df_20["helpful_votes"] / vine_df_20["total_votes"]) >= 0.50]
vine_df_50

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
326,R1B4753QMTD8ON,5.0,32.0,32.0,N,N
662,R28BVHOEL6GCHZ,5.0,21.0,21.0,N,Y
1055,R27IB4BRKO71I0,2.0,16.0,20.0,N,Y
1225,RJ86OW12Y4NRL,5.0,124.0,128.0,N,Y
1448,R3KRABOWCH6ZE4,1.0,48.0,65.0,N,Y
...,...,...,...,...,...,...
4850347,R1KGFSPKL3YCGK,4,25.0,26.0,N,N
4850349,R15AZWCW5ZSFSN,5,157.0,160.0,N,Y
4850352,R1ZWVHA89AE49B,5,32.0,33.0,N,N
4850353,R115HJRM6FUVIC,5,27.0,27.0,N,N
4850356,R34TPFL5ZYSV46,3,21.0,29.0,N,N

# Step 3

Filter the DataFrame or table created in Step 2, and create a new DataFrame or table that retrieves all the rows where a review was written as part of the Vine program (paid), vine == 'Y'.

In [6]:
# filter vine_df_50 where vine = "Y"
paid_reviews_df = vine_df_50.loc[vine_df_50["vine"] == 'Y']
paid_reviews_df

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
5506,R32OMS1LSDRCOB,4.0,27.0,31.0,Y,N
24578,R2IPKK4I0XRCFR,4.0,16.0,21.0,Y,N
58364,RXYYJ8SGI9IX6,5.0,36.0,41.0,Y,N
63194,R1SAUBFC7T6JHC,5.0,73.0,75.0,Y,N
177724,R329HVJKKHWSG3,5.0,59.0,59.0,Y,N
...,...,...,...,...,...,...
4717565,R1WG2F3DZFE301,5.0,51.0,81.0,Y,N
4719313,R3VB53V1VDWPQ2,4,104.0,132.0,Y,N
4754150,RCKH2IYVH9PCG,4,21.0,21.0,Y,N
4770385,R1OR7JY4MQP6I7,5,181.0,188.0,Y,N
4770596,R34IO2BR3JWIIZ,4,17.0,20.0,Y,N

# Step 4

Repeat Step 3, but this time retrieve all the rows where the review was not part of the Vine program (unpaid), vine == 'N'.

In [7]:
# filter vine_df_50 where vine = "N"
unpaid_reviews_df = vine_df_50.loc[vine_df_50["vine"] == 'Y']
unpaid_reviews_df

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
5506,R32OMS1LSDRCOB,4.0,27.0,31.0,Y,N
24578,R2IPKK4I0XRCFR,4.0,16.0,21.0,Y,N
58364,RXYYJ8SGI9IX6,5.0,36.0,41.0,Y,N
63194,R1SAUBFC7T6JHC,5.0,73.0,75.0,Y,N
177724,R329HVJKKHWSG3,5.0,59.0,59.0,Y,N
...,...,...,...,...,...,...
4717565,R1WG2F3DZFE301,5.0,51.0,81.0,Y,N
4719313,R3VB53V1VDWPQ2,4,104.0,132.0,Y,N
4754150,RCKH2IYVH9PCG,4,21.0,21.0,Y,N
4770385,R1OR7JY4MQP6I7,5,181.0,188.0,Y,N
4770596,R34IO2BR3JWIIZ,4,17.0,20.0,Y,N

# Step 5

Determine the total number of reviews, the number of 5-star reviews, and the percentage of 5-star reviews for the two types of review (paid vs unpaid).

In [8]:
# Determine the count of paid 5 star reviews
paid_5star_reviews  = paid_reviews_df.loc[paid_reviews_df["star_rating"]== 5]["star_rating"].count()
paid_5star_reviews

133

In [9]:
# Determine the count of paid reviews
paid_reviews = paid_reviews_df['star_rating'].count()
paid_reviews

334

In [10]:
# Determine the Percentage of paid_5star_reviews
percentage_paid_5star_reviews = round((paid_5star_reviews / paid_reviews) * 100,2)
percentage_paid_5star_reviews

39.82

# Step 5 b UnPaid Reviews

In [11]:
# determine the count of paid 5 star reviews

unpaid_5star_reviews = unpaid_reviews_df.loc[unpaid_reviews_df["star_rating"] == 5]["star_rating"]
unpaid_5star_reviews

58364      5.0
63194      5.0
177724     5.0
199322     5.0
200633     5.0
          ...
4713489    5.0
4714695    5.0
4715614    5.0
4717565    5.0
4770385      5
Name: star_rating, Length: 133, dtype: object

In [12]:
unpaid_5star_reviews = unpaid_reviews_df.loc[unpaid_reviews_df["star_rating"] == 5]["star_rating"].count()
unpaid_5star_reviews

133

In [13]:
# Determine the count of unpaid reviews
unpaid_reviews = unpaid_reviews_df["star_rating"].count()
unpaid_reviews

334

In [14]:
# Determine the Percentage of Unpaid_5star_reviews

percentage_unpaid_5star_reviews = round((unpaid_5star_reviews / unpaid_reviews) * 100,2)
percentage_unpaid_5star_reviews

39.82